HELP.md
../ecse321/.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!ParkingLot-Backend/src/main/**/build/
!ParkingLot-Backend/src/test/**/build/
**.gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!ParkingLot-Backend/src/main/**/bin/
!ParkingLot-Backend/src/test/**/bin/

### IntelliJ IDEA ###
**.idea/
*.iws
*.iml
*.ipr
out/
!ParkingLot-Backend/src/main/**/out/
!ParkingLot-Backend/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
